.navmenu {
    background-color: #FFFFFF;
    background-position: top;
    border-top: 1px solid #383838;
    margin-bottom: 5px;
    z-index:105;
    width: 100%; text-align: center;
}
.navlink {
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    
}

div.navlink a:link {
  color: #8f7a76;
}

div.navlink a:hover {
  color: #8f7a76;
}

div.navlink a:visited {
  color: #8f7a76;
}

div.listaqd{
    align-items: center;
}

h1 {
    color:#8f7a76;
    text-align: center;
    font-size: 25px;
}