input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

h1 {
    color:#8f7a76;
    text-align: center;
    font-size: 25px;
}

h2.perguntaslindas{
        color:#8f7a76;
        text-align: center;
        font-size: 16px;
}

.navmenu {
    background-color: #FFFFFF;
    background-position: top;
    border-top: 1px solid #383838;
    margin-bottom: 5px;
    z-index:105;
    width: 100%; text-align: center;
}
.navlink {
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    
}

div.navlink a:link {
  color: #8f7a76;
}

div.navlink a:hover {
  color: #8f7a76;
}

div.navlink a:visited {
  color: #8f7a76;
}