h1 {
    color:#8f7a76;
    text-align: center;
    font-size: 25px;
}

#botaoMostrar{
    background-color: #ffbd33;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#botaoCriar{
    background-color:#a8ff33;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#botaoApagar{
    background-color: #ff5733;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#botaoResponder{
    background-color: #44a9d2;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#botaoMedias{
    background-color: #d715ef;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.navmenu {
    background-color: #FFFFFF;
    background-position: top;
    border-top: 1px solid #383838;
    margin-bottom: 5px;
    z-index:105;
    width: 100%; text-align: center;
}
.navlink {
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    
}

div.navlink a:link {
  color: #8f7a76;
}

div.navlink a:hover {
  color: #8f7a76;
}

div.navlink a:visited {
  color: #8f7a76;
}